<!DOCTYPE html>
<html>
    <head>
        <title>About page</title>
        <link rel="icon" href="/img/weather_icon.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site uses data from Mapbox.com and weatherstack.com</p>
            <p>what you experience is Alpha version...Will rollout new versions periodically</p>
            <p>As of know temperature and precipitation probability will be shown to the user for the given location</p>
            <!--<img class="potrait" src="./img/rolls-royce-ghost-black-badge-2019-front-ft-1920x1080.jpg">-->
        </div>
        
        {{>footer}}
    </body>
</html>